<div class="container-fluid text-center" id="portfolio">
  <h3 class="header">PORTFOLIO</h3>
  <p class="about">I love to code and push my limits when I am free</p>

  <div class="row">
    <div class="col-sm">
      <img src="/assets/images/project3.jpg" class="img-fluid" alt="Responsive image">
      <p>YL Builders is platform that helps independent distributors of Young Living essential oils grow their business through automated class promotion and prospect follow-up management.</p>
    </div>
    <div class="col-sm">
      <img src="/assets/images/project1.jpg" class="img-fluid" alt="Responsive image">
      <p>Basin is a form endpoint and submission management app. I designed and built the front-end, and Anthony Penner built the backend. We launched it in June of this year.</p>
    </div>
    <div class="col-sm">
      <img src="/assets/images/project2.jpg" class="img-fluid" alt="Responsive image">
      <p>Houston helps founders grow, engage, and learn from their early adopter email list, so they can launch a winning product. I recently acquired it from Jason Oakley and Matthew Stenback.</p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
      <img src="/assets/images/project1.jpg" class="img-fluid" alt="Responsive image">
      <p>YL Builders is platform that helps independent distributors of Young Living essential oils grow their business through automated class promotion and prospect follow-up management.</p>
    </div>
    <div class="col-sm">
      <img src="/assets/images/project2.jpg" class="img-fluid" alt="Responsive image">
      <p>Basin is a form endpoint and submission management app. I designed and built the front-end, and Anthony Penner built the backend. We launched it in June of this year.</p>
    </div>
    <div class="col-sm">
      <img src="/assets/images/project3.jpg" class="img-fluid" alt="Responsive image">
      <p>Houston helps founders grow, engage, and learn from their early adopter email list, so they can launch a winning product. I recently acquired it from Jason Oakley and Matthew Stenback.</p>
    </div>
  </div>
</div>
