<div class="container-fluid text-center" id="portfolio">
  <h3 class="header">PROJECTS</h3>
  <p class="about">I keep learning new things and develop softwares</p>

  <div class="row">
    <div class="col-sm">
      <a href="https://github.com/omurbekjk/sos-safety-app">
        <img src="/assets/images/saktan.jpeg" class="img-fluid" alt="Saktan logo">
      </a>
      <p>
        <a href="https://play.google.com/store/apps/details?id=io.jachoteam.omurbek.saktan">SAKTAN</a> - SOS emergency
        app that sends your current GPS location to your contacts in an emergency situations by clicking power button
        3-4 times.
        I made this app with my friends when we participated in <b>social hackathon</b> and it is open source.
      </p>
    </div>
    <div class="col-sm">
      <a href="https://play.google.com/store/apps/details?id=io.jachoteam.amanatroad">
        <img src="/assets/images/amanatroad.png" class="img-fluid" alt="AmanatRoad logo">
      </a>
      <p>
        <a href="https://play.google.com/store/apps/details?id=io.jachoteam.amanatroad">AmanatRoad</a>
        - courier inventory manager hybrid mobile app. This application records all incoming, outgoing orders
        and their statuses. Also it shows monthly statistics.
      </p>
    </div>
  </div>
</div>
