<div class="container-fluid text-center" id="portfolio">
  <h3 class="header">PROJECTS</h3>
  <p class="about">I keep learning new things and develop softwares</p>

  <div class="row">
    <div class="col-sm">
      <a href="https://github.com/omurbekjk/sos-safety-app">
        <img src="/assets/images/saktan.jpeg" class="img-fluid" alt="Saktan logo">
      </a>
      <p>
        <a href="https://play.google.com/store/apps/details?id=io.jachoteam.omurbek.saktan">SAKTAN</a> - SOS emergency
        app that sends your current GPS location to your contacts in an emergency situations by clicking power button
        3-4 times.
        I made this app with my friends when we participated in <b>social hackathon</b> using java programming language
        and it is open source.
      </p>
    </div>
    <div class="col-sm">
      <a href="https://play.google.com/store/apps/details?id=io.jachoteam.amanatroad">
        <img src="/assets/images/amanatroad.png" class="img-fluid" alt="AmanatRoad logo">
      </a>
      <p>
        <a href="https://play.google.com/store/apps/details?id=io.jachoteam.amanatroad">AmanatRoad</a>
        - courier inventory manager hybrid mobile app. This application records all incoming, outgoing orders
        and their statuses. Also it shows monthly statistics. I made this app from zero to production using
        Firebase, Angular5, Ionic3, gitlab CI/CD.
      </p>
    </div>
    <div class="col-sm">
      <a href="https://www.cloudcoreo.com/">
        <img src="/assets/images/cloudcoreo-logo.jpg" class="img-fluid" alt="CloudCoreo logo">
      </a>
      <p>
        <a href="https://github.com/cloudcoreo">CloudCoreo</a>
        - Continuous Cloud Automation. A unified approach for cloud auditing,
        deployment, and maintenance for modern cloud infrastructure.
        I was involved to improve and support email generator npm package,
        rewrote panel dashboard components, builded ES queries, and I wrote
        queries for CIS, NIST standards using GraphQL+- query language used in Dgraph database.
      </p>
    </div>
  </div>
</div>
