<div class="container-fluid" id="whoiam">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm">
      <div class="container profileImage">
        <img src="{{imageUrl}}" class="img-fluid float-right rounded-circle" id="myImage" alt="Responsive image">
      </div>
    </div>
    <div class="col-sm float-right text-center">
      <h3 id="handle">[omurbek.jk]</h3>
      <h3 id="username">Omurbek Kadyrbekov</h3>
      <h5>Full Stack Developer</h5>
      <p>I'm a full stack, hybrid mobile application developer who loves to build web and mobile apps</p>
    </div>
  </div>
  <div id="particles-js">
  </div>
</div>
