.awards{
  background-color: whitesmoke;
  border-bottom: 2px solid saddlebrown;
  min-height: 200px;
  padding-bottom: 2rem;
}
gallery {
  height: 500px;
}
.awards-carousel{
  width: 80%;
  margin: auto;
}

.carousel-item{
  height: 100%;
  max-height: 800px;
}
.carousel-caption{
  color: #00897B;
}
