<div class="container about-me">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About Me</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        I have over +1 years of hands-on experience as a full stack web developer and hybrid mobile app developer. I
        also have good algorithmic programming skills.
      </p>
      <p>
        Participant of many regional olympiads in Informatics and major International Olympiad in Informatics and NEERC.
        Young, ambitious, hardworking and full of energy.
      </p>
      <p>
        Currently, I am focused on deeply learning MEAN stack technology and Hybrid mobile app development.
        I also keep learning automatization tools to automate my repetitive work such as auto deployment, testing.
        I am amazed with CI/CD tools.
      </p>
    </div>
    <div class="col-sm-6">
      <h5>Education</h5>
      <ul>
        <li>
          October 2016 – May 2018 | Alatoo International University / Kyrgyzstan
        </li>
        <li>
          January 2016 – July 2016 | Vilnius Gediminas Technical University / Lithuania (Erasmus exchange program)
        </li>
        <li>
          2013 – 2016 | Fatih University / Turkey
        </li>
      </ul>
    </div>
  </div>
</div>
