<app-navbar></app-navbar>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron" data-sr>
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron" data-sr="enter bottom and move 50px after 1s">
  <h3>This is a jumbotron</h3>
</div>

<div class="jumbotron" data-sr="wait 2.5s and then ease-in-out 100px">
  <h3>This is  a jumbotron</h3>
</div>
<div class="jumbotron">
  <h3>This is not a jumbotron</h3>
</div>

<div class="jumbotron">
  <h3>This is not a jumbotron</h3>
</div>
