<div class="container-fluid" id="whoiam">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm">
      <div class="container">
        <img src="{{imageUrl}}" class="img-fluid mx-auto d-block" id="myImage" alt="Responsive image">
      </div>
    </div>
    <div class="col-sm align-items-center">
      <h3 id="handle">[omurbek.jk]</h3>
      <h3 id="username">Omurbek Kadyrbekov</h3>
      <h5 id="position">Junior FullStack Developer</h5>
    </div>
  </div>
</div>
